@import './../../../style/common';

.edit_product_modal_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: Open 0.7s forwards;
    padding: 15px;
    
    .edit_product_modal {
        padding: 20px 25px;
        background-color: var(--white);
        border-radius: 20px;
        width: 100%;
        max-width: 1000px;

        & h2 {
            @include adaptiveFont(18, 16);
            color: var(--black);
            font-weight: 600;
            margin-bottom: 20px;
        }

        .producct_form {

            .data_container {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
                margin-bottom: 30px;
    
                & h4 {
                    white-space: nowrap;
                    @include adaptiveFont(16, 14);
                    text-transform: lowercase;
                    color: var(--black);  
                    margin-bottom: 3.5px;
                }
    
                .image_wrapper {
                    width: 100%;
                    max-width: 230px;
        
                    .image_container {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-shrink: 0;
                        border-radius: 15px;
                        // background-color: var(--grey);
                        min-height: 300px;
                        transition: background-color 0.3s;
    
                        &.error {
                            background-color: var(--error) !important;
                        }
        
                        & input {
                            height: 0;
                            width: 0;
                        }
        
                        & img {
                            width: 100%;
                        }
    
                        & canvas {
                            width: 100%;
                            height: 100%;
                        }
    
                        & .cross {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
    
                .common_data {
                    flex: 1;
                    max-width: 300px;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    
                    .color_flex {
                        display: flex;
                        align-items: flex-start;
                        gap: 15px;
                        width: 100%;
    
                        .add_color_btn_wrapper {
                            position: relative;
    
                            .add_color_btn {
                                width: 45px;
                                height: 45px;
                                flex-shrink: 0;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                // background-color: var(--grey);
                                transition: 0.1s;
                                cursor: pointer;
    
                                &.error {
                                    background-color: var(--error) !important;
                                }
                            }
                        }
    
                        & .input_field {
                            min-width: 0;
                            flex: 1;
    
                            & .label {
                                margin: 0;
                            }
                            
                            & input {
                                min-width: 0 !important;
                                max-width: 100%;
                            }
                        }
                    }
                }
    
                .characters {
                    .add_character_btn {
                        height: 45px;
                        width: 45px;
                        border-radius: 10px;
                        background-color: var(--grey);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: background-color 0.3s;
                        cursor: pointer;
    
                        &.error {
                            background-color: var(--error) !important;
                        }
                    }
    
                    .character_item {
                        display: flex;
                        align-items: flex-start;
                        gap: 15px;
                        margin-bottom: 15px;
            
                        .character_icon {
                            height: 45px;
                            width: 45px;
                            flex-shrink: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            background-color: var(--grey);
                            border-radius: 10px;
                            transition: background-color 0.3s;

                            &.error {
                                background-color: var(--error) !important;
                            }

                            & img {
                                max-width: 100%;
                            }
            
                            & input {
                                height: 0;
                                width: 0;
                            }
                        }
                        
                        .description_container {
                            background-color: var(--grey);
                            width: 250px;
                            flex-shrink: 0;
                            border-radius: 15px;
                            height: max-content;
                            padding: 12px 15px;
                            display: flex;
                            transition: background-color 0.3s;
                            gap: 10px;

                            &.error {
                                background-color: var(--error) !important;
                            }
    
                            & .delete_btn {
                                width: 20px;
                                height: 20px;
                            }
                        }
    
                        .description {
                            flex: 1;
                            background-color: transparent;
                            font-size: 14px;
                            height: 45px;
                            resize: none;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }
}