@import './../../../style/common';

.main_button {
    @include adaptiveFont(16, 14);
    padding-top: 10px;
    padding-bottom: 10px;
    @include adaptiveProperty(padding-left, 70, 30);
    @include adaptiveProperty(padding-right, 70, 30);
    border-radius: 15px;
    transition: 0.3s;

    &.white {
        background-color: var(--white);
        color: var(--black);
    }
    &.black {
        background-color: var(--black);
        border: 2px solid var(--black);
        color: var(--white);

        @include mediaMinWidth(992) {
            &:hover {
                background-color: transparent;
                color: var(--black);
            }
        }
    }
}