@import './../../../style/common';

.delete_btn {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: var(--black);
    border: 2px solid var(--black);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;

    @include mediaMinWidth(992) {
        &:hover {
            background-color: transparent;

            & .cross span {
                background-color: var(--black);
            }
        }
    }
}