@import './common';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --black: #000;
    --white: #fff;
    --background: #fff;
    --main-font: "Montserrat", serif;
    --grey: #DFE2EB;
    --red: #ff9c9c;
    --ultra-red: #db2c2c;
    --blue: #2397FE;
    --error: rgba(255, 0, 0, 0.288);
}

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}
[inert], [inert] * {opacity: 0.3;}

html,body{
	max-width: 100%;
	min-width: 320px;
	font-size: 100%;
	font-weight: 400;
	line-height: 1;
	font-size: 14px;
    font-family: var(--main-font);
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
    color: var(--black);
    background: var(--background);
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;background: transparent}
button::-moz-focus-inner {padding:0;border:0;background: transparent}
a, a:visited{text-decoration: none; color: var(--white);}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: var(--background) !important;
    color: var(--black) !important;
    -webkit-box-shadow: 0 0 0 1000px var(--background) inset !important;
    -webkit-text-fill-color: var(--black) !important;
    transition: background-color 0s 600000s, color 0s 600000s;
    caret-color: var(--black);
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none; /* для старых версий WebKit (Safari, Chrome до версии 76) */
    -moz-user-select: none; /* для Firefox */
    -ms-user-select: none; /* для Internet Explorer/Edge */ /* стандартное свойство */
}

input {
    border-radius: 0px;
}

.main_wrapper {
    width: 100%;
    max-width: 1800px;
    min-height: 100dvh;
    margin-right: auto;
    gap: 10px;
    padding: 131px 20px 10px 151px;
    @include mediaMaxWidth(991) {
        padding: 131px 10px 10px 10px;
    }
}

.container {
    opacity: 0;
    animation: Open 0.4s forwards;
}

.shadow {
    box-shadow: 0 0 20px 0 rgba(110, 110, 110, 0.25);
}

/*----------- Notice -------------*/
.notice{ 
    width: 100%;
    max-width: 300px;
    position: fixed;
    bottom: 50px;
    right: 0;
    z-index: 300;
    transform: translateX(100%);
}
.notice .item {
    display: block;
    text-align: center;
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: #212020eb;
    will-change: transform;
    overflow: hidden;
    cursor: pointer;
    transition: all 3s ease 0s;
    padding: 10px 10px;
    box-shadow: 0 0 20px 0 rgba(110, 110, 110, 0.25);
    font-size: 16px;}
.notice .error {background-color: var(--red);color: var(--black); font-weight: 500;}
.notice .success {background-color: var(--blue);color: var(--white);}
.notice .remark {color:#FF9800;}

[status='show'] {
   opacity:1; /*Элемент полностью прозрачный (невидимый)*/
   transition: 1s; /*Скорость перехода состояния элемента*/
   animation: show-notice 0.8s 1; /* Указываем название анимации, её время и количество повторов*/
   animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
  /*animation-delay: 1s; /* Задержка перед началом */
}

[status='hide'] {
   opacity:1; /*Элемент полностью прозрачный (невидимый)*/
   transition: 1s; /*Скорость перехода состояния элемента*/
   animation: hide-notice 0.8s 1; /* Указываем название анимации, её время и количество повторов*/
   animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
  /*animation-delay: 1s; /* Задержка перед началом */
}

@keyframes show-notice{
  0%{
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes hide-notice{
  0%{
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes Open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}